middleware/node-red/flows (smart cfad+report).json
[{"id":"c7cee4ec1920960a","type":"tab","label":"Smart Water System"},{"id":"mqtt_local","type":"mqtt-broker","name":"Local MQTT","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"live_group","type":"ui_group","name":"Live Data","tab":"","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"27590d5df640774b","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"65f5e594099c0ac9","type":"ui_group","name":"Control","tab":"","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"1086f957a62269d6","type":"ui_group","name":"System Status","tab":"","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"9011fc2d6ee86f93","type":"ui_group","name":"System Status","tab":"","order":1,"width":"6"},{"id":"78d7e855ab825314","type":"ui_group","name":"Live Data","tab":"","order":2,"width":"6"},{"id":"e30980dd42e2a4e9","type":"ui_group","name":"Control","tab":"","order":3,"width":"6"},{"id":"b67bd4915dbdda40","type":"ui_group","name":"System Status","tab":"","order":1,"width":"6"},{"id":"c19a9c17b3b867f3","type":"ui_group","name":"Live Data","tab":"","order":2,"width":"6"},{"id":"f40c9335519f325b","type":"ui_group","name":"Control","tab":"","order":3,"width":"6"},{"id":"6fe40a3750542e47","type":"ui_group","name":"Live Flow","tab":"","order":1,"width":"6"},{"id":"b6d6ca06b3d91056","type":"ui_group","name":"System Status","tab":"","order":2,"width":"6"},{"id":"0b944a502c20192d","type":"ui_group","name":"Control","tab":"","order":3,"width":"6"},{"id":"d713595c757976b3","type":"ui_tab","name":"Water Dashboard","icon":"dashboard","order":1},{"id":"d21f50be91bcb905","type":"ui_group","name":"Live Flow","tab":"d713595c757976b3","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"4f9f76b4c6050a8e","type":"ui_group","name":"System Status","tab":"d713595c757976b3","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"6c7574ad65b5cbb3","type":"ui_group","name":"Control","tab":"d713595c757976b3","order":3,"width":"6"},{"id":"d6328acf715d4d17","type":"mqtt in","z":"c7cee4ec1920960a","name":"Flow Sensor","topic":"water/flow","broker":"mqtt_local","inputs":0,"x":120,"y":120,"wires":[["cdbf9374da4c3182"]]},{"id":"cdbf9374da4c3182","type":"function","z":"c7cee4ec1920960a","name":"Auto Shutoff Logic","func":"let flowRate = Number(msg.payload);\nif (isNaN(flowRate)) return null;\n\nlet now = new Date();\nlet timeString = now.toLocaleString();\n\n// Use adaptive threshold if available\nlet threshold = flow.get(\"adaptiveThreshold\") || 5;\n\n// Prevent repeated alerts\nlet leakActive = flow.get(\"leakActive\") || false;\n\nlet flowMsg = { payload: flowRate };\nlet valveMsg = null;\nlet statusMsg;\nlet alertMsg = null;\n\n// Leak condition\nif (flowRate > threshold) {\n\n    statusMsg = { payload: \"🔴 Leak Detected - Valve Closed\" };\n\n    if (!leakActive) {\n        valveMsg = { payload: \"0\" };\n        flow.set(\"leakActive\", true);\n    }\n\n    // Always send alert while leaking\n    alertMsg = {\n        payload:\n        \"⚠ Leak detected!\\n\" +\n        \"Flow rate: \" + flowRate.toFixed(2) + \" L/min\\n\" +\n        \"Threshold: \" + threshold.toFixed(2) + \" L/min\\n\" +\n        \"Time: \" + timeString\n    };\n}else {\n\n    statusMsg = { payload: \"🟢 Normal Operation\" };\n\n    // If leak was active and flow normalized → reopen valve\n    if (leakActive) {\n        valveMsg = { payload: \"1\" }; // reopen valve\n        flow.set(\"leakActive\", false);\n    }\n}\n\nreturn [flowMsg, valveMsg, statusMsg, alertMsg];\n","outputs":4,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":120,"wires":[["262876a26f4737a5","10a09ff0ed1431c2","10884689084b3c18","63de2427aadeb2ae","09edfafde775de65"],["603832799c78b98c"],["d9507de1eeeaa68f"],["8db49865343b0464"]]},{"id":"10884689084b3c18","type":"function","z":"c7cee4ec1920960a","name":"Daily + Weekly Usage (Smart CFAD)","func":"let flowRate = Number(msg.payload);\nif (isNaN(flowRate)) return null;\n\nlet now = new Date();\nlet hour = now.getHours();\nlet litersPerSecond = flowRate / 60;\n\nlet total = flow.get(\"total\") || 0;\ntotal += litersPerSecond;\nflow.set(\"total\", total);\n\nlet weekly = flow.get(\"weekly\") || 0;\nweekly += litersPerSecond;\nflow.set(\"weekly\", weekly);\n\nlet flowStart = flow.get(\"flowStart\") || null;\nif (flowRate > 0) {\n    if (!flowStart) {\n        flowStart = now.getTime();\n        flow.set(\"flowStart\", flowStart);\n    }\n} else {\n    flow.set(\"flowStart\", null);\n}\n\nlet durationAlert = \"\";\nif (flowStart) {\n    let duration = (now.getTime() - flowStart) / 1000;\n    if (duration > 600) {\n        durationAlert = \"⚠ Continuous flow detected\";\n    }\n}\n\nlet nightAlert = \"\";\nif (hour >= 2 && hour <= 4 && flowRate > 1) {\n    nightAlert = \"🌙 Night-time anomaly\";\n}\n\nlet alerts = [durationAlert, nightAlert].filter(a => a).join(\"\\n\");\n\nlet history = flow.get(\"dailyHistory\") || [];\nlet avg = 0;\nif (history.length > 0) {\n    avg = history.reduce((a,b)=>a+b,0)/history.length;\n}\nlet predictedMonthly = avg * 30;\n\nmsg.payload = total.toFixed(2);\nmsg.status = total > 120 ? \"🟡 High usage\" : \"🟢 Normal\";\nmsg.prediction = \"Predicted monthly: \" + predictedMonthly.toFixed(0) + \" L\";\nmsg.alerts = alerts;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":120,"wires":[["7012a69b33614c39","1ea95741a4b49c42","37c2c58c4e1ab965","b0fa787b89455ccd","f41f25dfb1bde629"]]},{"id":"262876a26f4737a5","type":"ui_gauge","z":"c7cee4ec1920960a","name":"","group":"d21f50be91bcb905","order":1,"width":"","height":"","gtype":"gage","title":"Flow Rate","label":"L/min","format":"","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":640,"y":20,"wires":[]},{"id":"10a09ff0ed1431c2","type":"ui_text","z":"c7cee4ec1920960a","group":"d21f50be91bcb905","order":2,"width":"","height":"","name":"","label":"Current Flow","format":"{{msg.payload}} L/min","layout":"","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":730,"y":80,"wires":[]},{"id":"d9507de1eeeaa68f","type":"ui_text","z":"c7cee4ec1920960a","group":"4f9f76b4c6050a8e","order":1,"label":"System Status","format":"{{msg.payload}}","x":650,"y":200,"wires":[]},{"id":"7012a69b33614c39","type":"ui_text","z":"c7cee4ec1920960a","group":"4f9f76b4c6050a8e","order":2,"label":"Today's Usage","format":"{{msg.payload}} L","x":1260,"y":60,"wires":[]},{"id":"1ea95741a4b49c42","type":"ui_text","z":"c7cee4ec1920960a","group":"4f9f76b4c6050a8e","order":3,"label":"Usage Insight","format":"{{msg.status}}","x":1240,"y":120,"wires":[]},{"id":"37c2c58c4e1ab965","type":"ui_text","z":"c7cee4ec1920960a","group":"4f9f76b4c6050a8e","order":4,"width":"","height":"","name":"","label":"Monthly Prediction","format":"{{msg.prediction}}","layout":"","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":1250,"y":160,"wires":[]},{"id":"b0fa787b89455ccd","type":"ui_text","z":"c7cee4ec1920960a","group":"4f9f76b4c6050a8e","order":6,"width":"","height":"","name":"","label":"Smart Alerts","format":"{{msg.alerts}}","layout":"","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":1250,"y":200,"wires":[]},{"id":"e6abad2dfc65ca4c","type":"ui_switch","z":"c7cee4ec1920960a","label":"Valve","group":"6c7574ad65b5cbb3","topic":"water/valve","onvalue":"1","offvalue":"0","x":200,"y":300,"wires":[["603832799c78b98c"]]},{"id":"603832799c78b98c","type":"mqtt out","z":"c7cee4ec1920960a","topic":"water/valve","broker":"mqtt_local","x":440,"y":300,"wires":[]},{"id":"8db49865343b0464","type":"function","z":"c7cee4ec1920960a","name":"Telegram Alert","func":"let botToken = \"8145874292:AAE9M8fAQn9d-N-QRM6fsfGU-r_xtI8q6RE\";\nlet chatId = \"5731650887\";\nlet text = encodeURIComponent(msg.payload);\nmsg.url = \"https://api.telegram.org/bot\" + botToken +\n          \"/sendMessage?chat_id=\" + chatId +\n          \"&text=\" + text;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":340,"wires":[["b68d1ecc0e145217"]]},{"id":"b68d1ecc0e145217","type":"http request","z":"c7cee4ec1920960a","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":920,"y":320,"wires":[[]]},{"id":"9cb2e47dca91bf54","type":"inject","z":"c7cee4ec1920960a","name":"Daily Report","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":140,"y":420,"wires":[["15d5a33aad90fef9"]]},{"id":"15d5a33aad90fef9","type":"function","z":"c7cee4ec1920960a","name":"Daily Report Logic","func":"let total = Number(flow.get(\"total\")) || 0;\nlet now = new Date();\n\n// ---- FORMAT DATE ----\nlet date =\n    now.getDate().toString().padStart(2,'0') + \"-\" +\n    (now.getMonth()+1).toString().padStart(2,'0') + \"-\" +\n    now.getFullYear();\n\n// ---- STORE 7 DAY HISTORY ----\nlet history = flow.get(\"dailyHistory\") || [];\nhistory.push(total);\nif (history.length > 7) {\n    history.shift();\n}\nflow.set(\"dailyHistory\", history);\n\n// ---- TELEGRAM MESSAGE ----\nlet reportMsg = {\n    payload:\n        \"📊 Daily Water Report\\n\" +\n        \"Total used today: \" + total.toFixed(2) + \" L\\n\" +\n        \"Time: \" + now.toLocaleString()\n};\n\n// ---- CSV FORMAT ----\nlet csvMsg = {\n    payload: date + \",\" + total.toFixed(2) + \"\\n\"\n};\n\n// ---- RESET DAILY TOTAL ----\nflow.set(\"total\", 0);\n\n// ---- RESET UI DISPLAY ----\nlet resetMsg = { payload: 0 };\n\n// Outputs:\n// 1 → Telegram\n// 2 → Today's Usage UI\n// 3 → File node (append mode)\n\nreturn [reportMsg, resetMsg, csvMsg];\n","outputs":3,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":420,"wires":[["8db49865343b0464"],["7012a69b33614c39"],["759f51f4b9255249"]]},{"id":"ccf6688012552383","type":"inject","z":"c7cee4ec1920960a","name":"Weekly Report","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":140,"y":680,"wires":[["ec4d79e37a6f72e2"]]},{"id":"ec4d79e37a6f72e2","type":"function","z":"c7cee4ec1920960a","name":"Weekly Report Logic","func":"let weekly = Number(flow.get(\"weekly\")) || 0;\nlet now = new Date();\n\n// Telegram message\nlet reportMsg = {\n    payload:\n        \"📅 Weekly Water Report\\n\" +\n        \"Total used this week: \" + weekly.toFixed(2) + \" L\\n\" +\n        \"Time: \" + now.toLocaleString()\n};\n\n// UI message (to show weekly total before reset)\nlet uiMsg = {\n    payload: weekly.toFixed(2) + \" L\"\n};\n\n// CSV log message\nlet csvMsg = {\n    payload: {\n        date: now.toLocaleDateString(),\n        weekly_total: weekly.toFixed(2)\n    }\n};\n\n// reset weekly total AFTER report\nflow.set(\"weekly\", 0);\n\n// reset UI display\nlet resetMsg = { payload: \"0 L\" };\n\n// outputs:\n// 1 → Telegram\n// 2 → UI display\n// 3 → CSV logging\n// 4 → UI reset\nreturn [reportMsg, uiMsg, csvMsg, resetMsg];\n","outputs":4,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":680,"wires":[["8db49865343b0464"],["f41f25dfb1bde629"],["90968bdeb229a382"],["f41f25dfb1bde629"]]},{"id":"63de2427aadeb2ae","type":"ui_chart","z":"c7cee4ec1920960a","name":"","group":"d21f50be91bcb905","order":3,"width":0,"height":0,"label":"Live Flow","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":840,"y":40,"wires":[[]]},{"id":"f41f25dfb1bde629","type":"ui_text","z":"c7cee4ec1920960a","group":"4f9f76b4c6050a8e","order":5,"width":0,"height":0,"name":"","label":"Weekly Usage","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":1020,"y":560,"wires":[]},{"id":"09edfafde775de65","type":"function","z":"c7cee4ec1920960a","name":"Format CSV","func":"let now = new Date();\n\n// format date and time\nlet date = now.toLocaleDateString();\nlet time = now.toLocaleTimeString();\n\nlet flowRate = Number(msg.payload) || 0;\n\n// CSV line: date,time,flow\nmsg.payload = `${date},${time},${flowRate.toFixed(2)}\\n`;\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":240,"wires":[["b919fc84f6335e1d"]]},{"id":"b919fc84f6335e1d","type":"file","z":"c7cee4ec1920960a","name":"","filename":"C:\\Users\\JALANTH\\Desktop\\water_log.csv","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1230,"y":240,"wires":[[]]},{"id":"759f51f4b9255249","type":"file","z":"c7cee4ec1920960a","name":"","filename":"C:\\Users\\JALANTH\\\\Desktop\\daily_report.csv","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1130,"y":420,"wires":[[]]},{"id":"90968bdeb229a382","type":"file","z":"c7cee4ec1920960a","name":"","filename":"C:\\Users\\JALANTH\\\\Desktop\\weekly_report.csv","filenameType":"str","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":820,"y":720,"wires":[[]]},{"id":"d5eaa48cae6e3489","type":"global-config","env":[],"modules":{"node-red-dashboard":"3.6.6"}}]